<template>
    <div class="table-edit border-collapse">
        <div v-for="(y, index_y) in max_y" :class="`table-edit__row ${!index_y?'sticky top-0 z-10':''}`">

            <div v-for="(x, index_x) in max_x"
                 :class="`table-edit__cell ${!index_x?'sticky left-0 bg-gray-100':'bg-white'} ${!index_x || !index_y?'bg-gray-100':''}`"

                 @click="setEditable(index_x, index_y)"
            >
                <div v-if="showMenu(index_x, index_y)" class="table-edit__menu shadow-xl bg-green-200">
                    <button @click.prevent.stop="setAvg"
                            class="px-4 py-2 block w-full hover:bg-green-500 hover:text-white">
                        Среднее
                    </button>
                    <button @click.prevent.stop="setSum"
                            class="px-4 py-2 block w-full hover:bg-green-500 hover:text-white">
                        Сумма
                    </button>
                </div>
                <div
                    :class="{
                        'table-edit__cell_inner': true,
                        'table-edit__cell_inner--current': (edit_x===index_x) && (edit_y === index_y),
                        'table-edit__cell_inner--selected': inSelect(index_x, index_y),
                        'table-edit__cell_inner--target': inTarget(index_x, index_y),
                        'table-edit__cell_inner--is-function': isFunction(index_x, index_y)
                    }"
                    @mousedown="startSelect(index_x, index_y)"
                    @mouseup="stopSelect(index_x, index_y)"
                    @mousemove="addToSelect(index_x, index_y)"

                >

                    <input v-if="(edit_x===index_x) && (edit_y === index_y)" class="table-edit__input" ref="currentEdit"
                           v-model="currentEdit" @focusout="saveValue" @keyup.enter="saveValue">

                    <template v-else>
                        <span v-if="!index_x && !index_y">

                        </span>
                        <span v-else-if="!index_x">
                            {{ index_y }}
                        </span>
                        <span v-else-if="!index_y">
                            {{ index_x }}
                        </span>
                        <span v-else>
                            {{ getCalculatedValue(index_x, index_y) }}
                        </span>
                    </template>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import $ from 'jquery';
import Input from "../../Jetstream/Input";
import Button from "../../Jetstream/Button";
import sum from 'lodash/sum'

export default {
    name: "TableEdit",
    components: {Button, Input},
    props: {
        cells: {
            type: Array
        }
    },
    data() {
        return {
            select: false,
            selectStart: null,
            selectEnd: null,
            max_x: 40,
            max_y: 50,
            edit_x: null,
            edit_y: null,
            currentEdit: null,
            data: {}
        }
    },
    mounted() {

        this.cells.forEach(cell => {

            //Отсеить пустые значения
            if (!cell.value) {
                return;
            }

            //Для работы реактивности массива
            this.$set(this.data, cell.x + '_' + cell.y, cell.value);
        })

        //Бесконечный скролл
        let $table = $('.table-edit');
        this.$parent.$on('onScroll', (event) => {
            let rect = event.target.getBoundingClientRect();

            let offset_y = event.target.scrollTop + rect.height;
            if (offset_y > $table.height() - 200) {
                this.max_y += 20;
            }

            let offset_x = event.target.scrollLeft + rect.width;
            if (offset_x > $table.width() - 200) {
                this.max_x += 20;
            }
        })
    },
    methods: {
        getValue(x, y) {
            return this.data[x + '_' + y] ? this.data[x + '_' + y] : null;
        },
        isFunction(x, y) {
            let value = this.getValue(x, y);
            if (!value) {
                return false;
            }

            if (value[0] !== '=') {
                return false;
            }

            return true;
        },
        getCellsFromParams(x, y, params) {
            let result = [];

            for (let _x = x - +params[1]; _x <= x; _x++) {
                for (let _y = y - +params[0]; _y <= y; _y++) {
                    if ((_x === x) && (_y === y)) {
                        continue;
                    }
                    result.push(+this.getValue(_x, _y));
                }
            }
            return result;
        },
        getCalculatedValue(x, y) {
            let value = this.getValue(x, y);
            if (!value) {
                return value;
            }

            if (value[0] !== '=') {
                return value;
            }

            value = value.toLowerCase();

            //определяем функцию
            let func = value.substr(0, 4);
            let params = value.substr(5).split(' ');

            if (params.length !== 2) {
                return 'Ошибка';
            }

            if (isNaN(+params[0]) || isNaN(+params[1])) {
                return 'Ошибка';
            }

            let values = this.getCellsFromParams(x, y, params);


            let result = '';

            switch (func) {
                case '=sum':
                    result = sum(values);
                    break;
                case '=avg':
                    result = values.length ? sum(values) / values.length : 0;
                    break;
                default:
                    return 'Ошибка'
            }

            if (isNaN(result)) {
                return 'Ошибка'
            }

            return Math.round(result * 100) / 100;

        },
        saveValue() {
            //Защита от двоного срабатывания, например если нажали Enter то данная функция сработает два раза
            if ((!this.edit_x) || (!this.edit_y)) {
                return
            }

            this.data[this.edit_x + '_' + this.edit_y] = this.currentEdit;

            this.$emit('save', [{x: this.edit_x, y: this.edit_y, value: this.currentEdit}])

            this.edit_x = null;
            this.edit_y = null;
            this.currentEdit = null;
        },

        setEditable(x, y) {
            if ((this.edit_x === x) && (this.edit_y === y)) {
                return;
            }

            this.clearSelect();

            this.edit_x = x;
            this.edit_y = y;
            this.currentEdit = this.getValue(x, y);

            this.$nextTick(() => {
                this.$refs.currentEdit[0].focus();
            })
        },

        startSelect(x, y) {
            this.select = true;
            this.selectStart = {x, y};
        },
        stopSelect() {
            this.select = false;
        },

        addToSelect(x, y) {
            if (this.select) {
                this.selectEnd = {x, y}
            }
        },
        clearSelect() {
            this.selectStart = null;
            this.selectEnd = null;
            this.select = false;
        },
        getSelectRect() {
            if ((!this.selectStart) || (!this.selectEnd)) {
                return null;
            }

            let min_x = Math.min(this.selectStart.x, this.selectEnd.x);
            let min_y = Math.min(this.selectStart.y, this.selectEnd.y);

            let max_x = Math.max(this.selectStart.x, this.selectEnd.x);
            let max_y = Math.max(this.selectStart.y, this.selectEnd.y);

            let count_x = 1 + (max_x - min_x);
            let count_y = 1 + (max_y - min_y);

            return {min_x, min_y, max_x, max_y, count_x, count_y};
        },
        getTargetRect() {

            let result = [];

            let rect = this.getSelectRect();
            if (!rect) {
                return result;
            }

            if (rect.count_x === 1) {
                result.push({x: rect.max_x, y: rect.max_y + 1})
            } else if (rect.count_y === 1) {
                result.push({x: rect.max_x + 1, y: rect.max_y})
            } else {
                for (let y = rect.min_y; y <= rect.max_y; y++) {
                    result.push({x: rect.max_x + 1, y: y})
                }
                for (let x = rect.min_x; x <= rect.max_x; x++) {
                    result.push({x: x, y: rect.max_y + 1})
                }
            }
            return result;
        },
        inSelect(x, y) {
            let rect = this.getSelectRect();
            if (!rect) {
                return false;
            }

            return (x >= rect.min_x) && (x <= rect.max_x) && (y >= rect.min_y) && (y <= rect.max_y);
        },
        inTarget(x, y) {

            let rect = this.getSelectRect();
            if (!rect || this.select) {
                return false;
            }

            if ((rect.count_x === 1) || (rect.count_y === 1)) {
                return false
            }

            let target = this.getTargetRect();

            return target.filter(point => (x === point.x) && (y === point.y)).length;
        },
        showMenu(x, y) {
            let rect = this.getSelectRect();
            if (!rect || this.select) {
                return false;
            }
            if (rect.count_x === 1) {
                return (x === rect.max_x) && (y === rect.max_y + 1);
            } else if (rect.count_y === 1) {
                return (x === rect.max_x + 1) && (y === rect.max_y);
            } else {
                return (x === rect.max_x + 1) && (y === rect.max_y + 1);
            }
        },
        setFunction(function_name) {
            let rect = this.getSelectRect();
            if (!rect) {
                return false;
            }

            let result = [];

            //Суммируем по Y
            if (rect.count_x > 1) {
                let func = '=' + function_name + ' 0 ' + rect.count_x;
                for (let y = rect.min_y; y <= rect.max_y; y++) {
                    result.push({x: rect.max_x + 1, y: y, value: func})
                }
            }

            //Суммируем по X
            if (rect.count_y > 1) {
                let func = '=' + function_name + ' ' + rect.count_y + ' 0';
                for (let x = rect.min_x; x <= rect.max_x; x++) {
                    result.push({x: x, y: rect.max_y + 1, value: func})
                }
            }

            result.forEach(cell => {
                this.data[cell.x + '_' + cell.y] = cell.value;
            });

            this.$emit('save', result);

            this.clearSelect();
        },
        setSum(event) {
            this.setFunction('sum')
        },
        setAvg(event) {
            this.setFunction('avg')
        }

    }
}
</script>

<style scoped lang="scss">
.table-edit {
    width: auto;
    position: absolute;
    user-select: none;
    font-size: 12px;
    line-height: 20px;

    &__row {
        display: flex;
        flex-wrap: nowrap;
    }

    &__cell {
        width: 100px;
        height: 24px;
    }

    &__cell_inner {
        width: 100%;
        height: 100%;
        padding: 2px 4px;
        border-right: solid 1px gray;
        border-bottom: solid 1px gray;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--current {
            padding: 0;
        }

        &--selected {
            background: #ebf2fd;
        }

        &--target, &--is-function {
            background: #dbf8d2;
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        display: block;
        padding: 2px 4px;
        font-size: 12px;
    }

    &__menu {
        position: absolute;
        min-width: 99px;
    }
}

.debug {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    max-width: 300px;
}
</style>
