<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Мои таблицы
            </h2>
        </template>

        <div class="py-8">

            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="mb-4 text-right">
                    <button class="btn btn-blue" @click.prevent="createTable">
                        Создать
                    </button>
                </div>

                <inertia-link v-for="(table, index) in tables" :key="table.id"
                              :href="route('table', {table: table.id})"
                              class="bg-white block mb-5 p-4 overflow-hidden hover:shadow-lg sm:rounded-lg flex">

                    <span>
                        {{ table.name ? table.name : 'Без названия №' + (index + 1) }}<br>
                        <span class="text-gray-500">{{ table.created_at | moment("from") }}</span>
                    </span>

                </inertia-link>

            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from './../Layouts/AppLayout'
import Welcome from './../Jetstream/Welcome'
import {Inertia} from '@inertiajs/inertia'

export default {
    props: ['user'],
    components: {
        AppLayout,
        Welcome,
    },
    data() {
        return {
            loading: true,
            tables: []
        }
    },
    methods: {
        createTable() {
            axios.post("/api/table").then(response => {
                Inertia.visit('/table/' + response.data.id)
            })
        }
    },
    mounted() {
        axios.get("/api/table").then((response) => {
            this.tables = response.data;
        })
    }
}
</script>
