<template>
    <app-layout>
        <template #header>
            <div class="flex items-center">
                <div class="flex-none">
                    <inertia-link :href="route('dashboard')" class="btn btn-blue">
                        Назад
                    </inertia-link>
                </div>

                <div class="flex-1 px-4">
                    <input class="block w-full p-2" v-model="table_name" placeholder="Без названия"
                           @focusout="saveName">
                </div>

                <div class="flex-none">
                    <button @click.prevent="confirmDelete=true" class="btn btn-red">
                        Удалить
                    </button>
                </div>

            </div>
        </template>

        <modal :show="confirmDelete">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div
                        class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">

                        <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                        </svg>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                            Удалить таблицу?
                        </h3>
                        <div class="mt-2">
                            <p class="text-sm leading-5 text-gray-500">
                                Вы уверены что хотите удалить данную таблицу?<br>
                                Данное действие необратимо
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                  <button @click="confirmDelete=false" type="button"
                          class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Отменить
                  </button>
                </span>

                <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                  <button @click="deleteTable" :disabled="deleting" type="button"
                          class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                    Удалить
                    </button>

                </span>
            </div>
        </modal>
        <table-edit @save="saveValue" :cells="cells"></table-edit>
    </app-layout>
</template>

<script>
import AppLayout from './../Layouts/AppLayout'
import Welcome from './../Jetstream/Welcome'
import Input from "../Jetstream/Input";
import TableEdit from "./Components/TableEdit";
import Modal from "../Jetstream/Modal";
import {Inertia} from "@inertiajs/inertia";

export default {
    props: ['user', 'table', 'cells'],
    components: {
        Modal,
        TableEdit,
        Input,
        AppLayout,
        Welcome,
    },
    data() {
        return {
            loading: true,
            table_name: '',
            confirmDelete: false,
            deleting: false
        }
    },
    methods: {
        saveName() {
            axios.put("/api/table/" + this.table.id, {name: this.table_name});
        },
        saveValue(data) {
            console.log('saveValue', data);
            axios.put("/api/table/" + this.table.id, {cells: data});

        },
        deleteTable() {
            this.deleting = true;
            axios.delete("/api/table/" + this.table.id).then(response => {
                Inertia.visit('/dashboard')
            })
        }
    },
    mounted() {
        this.table_name = this.table.name;
    }
}
</script>
<style>
.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.btn-red {
    @apply bg-red-500 text-white;
}

.btn-red:hover {
    @apply bg-red-700;
}
</style>
